<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sdp.blindly">

    <!-- quickfix for dexmaker, see: https://github.com/linkedin/dexmaker/issues/164#issuecomment-646708824 -->
    <application android:extractNativeLibs="true" />
</manifest>